//typography
@import url("https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500&amp;subset=cyrillic");

body{
  font-family: $font-family;
  background: $color-white;
  font-weight: 300;
  font-size: $font-size;
  line-height: $line-height;
}

p{

}

a{
  color: $color-black;
  @extend .underline;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5{
  @extend .uppercase;
}

h1, .h1{
  font-size: $font-size-xl;
}

h2, .h2{
  font-size: $font-size-l;
}

h3, .h3{
  font-size: $font-size-b;
}

h4, .h4{
  font-size: $font-size-m;
}

h5, .h5{
  font-size: $font-size;
}


//forms

//buttons

//blocks
.grid--container{
  max-width: $container-width;
}