//fonts
$font-family: 'Roboto', sans-serif;

$font-size-s: 14px;
$font-size: 16px;
$font-size-m: 20px;
$font-size-b: 25px;
$font-size-l: 40px;
$font-size-xl: 60px;


$line-height:24px;

//colors
$color-white: #ffffff;
$color-lightgray: #d6d6d6;
$color-gray: #5c5c5c;
$color-darkgray: #383838;
$color-black: #000000;
$color-orange: #ef7f1b;
$color-green: #23c440;

//blocks
$container-width:980px;